---
import Layout from "../layouts/Layout.astro";
---


<Layout>
    <div class="flex flex-col px-12 flex-1">
        <p class="text-6xl font-bold">My Library</p>
        <div class="opacity-60 py-4">8 Albums in your collection</div>
    </div>
    <div class="flex justify-between gap-3 px-10">
        <a href="">Filter</a>
        <a href="">Sort</a>
    </div>
    <section></section>
    <div class="text-2xl font-light bg-blue-500 text-mist-50 p-6 py-2">
        <a href="">Create Playlist</a>
    </div>
</Layout>
