---
const imagenes= Astro.props.imagenes;
const titulo= Astro.props.titulo;
const año= Astro.props.año;
const artista= Astro.props.artista;
---
<div class="flex flex-col gap-3 px-12">
        <div>
            <img src={imagenes} alt="" class="w-80 h-80">
            <p class="text-2xl font-bold">{titulo}</p>
            <p>{artista}</p>
            <p>{año}</p>
        </div>