---
const song = Astro.props.song;
---

<div class="cursor-pointer" id={song._id}>
    <div>
        <div>
            <img class="rounded-full w-50 h-50 hover:scale-105 transition-transform duration-200" src={song.album.image.url} alt="" />
        </div>
        <div>
            <p class="text-2xl font-bold">{song.title}</p>
            <p>{song.author.name}</p>
        </div>
    </div>
</div>

<script define:vars={{ song }}>
    document.getElementById(song._id).addEventListener("click", () => {
        const event = new CustomEvent("play-song", {
            detail: { song },
        });
        window.dispatchEvent(event);
    });
</script>


