---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>reproductor de musica</title>
	</head>
	<body>
		<header
			class="flex justify-between px-10 py-6 sticky top-0 z-30 bg-white"
		>
			<p class="text-4xl font-bold">The Gallery</p>
			<div class="flex gap-6 opacity-60">
				<a href="/">Home</a>
				<a href="For You">For You</a>
				<a href="Charts">Charts</a>
				<a href="Genres">Genres</a>
			</div>
			<div>
				<input
					type="text"
					class="border-b border-gray-950 border-dashed"
				/>
			</div>
		</header>
		<div class="flex">
			<div class="flex flex-col gap-3 px-12">
				<a href="">Discover</a>
				<a href="">Library</a>
				<a href="">Albums</a>
				<a href="">Artist</a>
			</div>
			<div class="flex flex-col px-12 flex-1">
				<p class="text-6xl font-bold">My Library</p>
				<div class="opacity-60 py-4">6 Albums in your collection</div>
				<div class="flex justify-between">
					<div>
						<img src="suei-Fabiola.jpg" alt="" class="w-80 h-80" />
						<p class="text-2xl font-bold">Fabiola</p>
						<p>2025</p>
						<p>Suei</p>
					</div>
					<div>
						<img src="Is-This-It.jpg" alt="" class="w-80 h-80" />
						<p class="text-2xl font-bold">Is This It</p>
						<p>2001</p>
						<p>The Strokes</p>
					</div>
					<div>
						<img
							src="Salsa-Valentina.jpg"
							alt=""
							class="w-80 h-80"
						/>
						<p class="text-2xl font-bold">Salsa Valentina</p>
						<p>2023</p>
						<p>Rojuu</p>
					</div>
				</div>
				<div class="flex justify-between py-10">
					<div>
						<img src="teselia-suei.jpg" alt="" class="w-80 h-80" />
						<p class="text-2xl font-bold">Teselia</p>
						<p>2026</p>
						<p>suei</p>
					</div>
					<div>
						<img
							src="_Turn-On-The-Bright-Lights-Interpol.jpg"
							alt=""
							class="w-80 h-80"
						/>
						<p class="text-2xl font-bold">
							Turn On The Bright Lights
						</p>
						<p>2001</p>
						<p>Interpol</p>
					</div>
					<div>
						<img
							src="Elliot Smith-Either_Or-(1997).jpg"
							alt=""
							class="w-80 h-80"
						/>
						<p class="text-2xl font-bold">either/or</p>
						<p>1997</p>
						<p>Elliot Smith</p>
					</div>
				</div>
			</div>
			<div class="flex justify-between gap-3 px-10">
				<a href="">Filter</a>
				<a href="">Sort</a>
			</div>
			<section></section>
		</div>
		<div class="px-12 py-20">
			<button
				class="text-2xl font-light bg-blue-500 text-mist-50 p-6 py-2"
			>
				<a href="">Create Playlist</a>
			</button>
		</div>
	</body>
</html>
