---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>reproductor de musica</title>
	</head>
	<body>
		<header
			class="flex justify-between px-10 py-6 sticky top-0 z-30 bg-white"
		>
			<p class="text-4xl font-bold">The Gallery</p>
			<div class="flex gap-6 opacity-60">
				<a href="/">Home</a>
				<a href="For You">For You</a>
				<a href="Charts">Charts</a>
				<a href="Genres">Genres</a>
			</div>
			<div>
				<input
					type="text"
					class="border-b border-amber-300 border-dashed"
				/>
			</div>
		</header>
		<div class="flex">
			<div class="flex flex-col gap-3 px-12">
				<a href="">Discover</a>
				<a href="">Library</a>
				<a href="">Albums</a>
				<a href="">Artist</a>
			</div>
	</body>
</html>
